// Google Webfont Import
@import url('http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic');
@import url('http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic');
$lato: "lato", "helvetica", arial, sans-serif;
$crimson: "crimson text", georgia, serif;

// Typography
$base-font-family: $crimson;
$heading-font-family: $lato;
$base-font-size: 16px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: 1.5em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$black: #0a0a0a;
$white: #fefefe;
$navy: #0a1a24;

    // Grays (determined as degrees of black above)
$blue-gray: #e6e7e8;
$light-gray: #e7e7e7; // original: #ddd
$medium-gray: #bcbcbc; // original: #999
$dark-gray: #929292; // original: #333

    // Magentas
$bright-magenta: #e70095;
$magenta: #cd007b;
$dark-magenta: #a70064;
$darker-magenta: #880d53;

    // Blues
$bright-blue: #0055b8;
$blue: #004a97;
$dark-blue: #003764;
$darker-blue: #0d2240;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: $navy;

// Focus
$focus-outline-color: transparentize($action-color, 0.4);
$focus-outline-width: 3px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Navigation
$navigation-height: 4rem;
$navigation-padding: 1rem;
$navigation-submenu-padding: 1rem;
$navigation-background: $navy;
$navigation-search-background: $light-gray;
$navigation-search-border: 1px solid $blue;
$navigation-color: $white;
$navigation-active-link-color: $white;
$navigation-color-hover: $magenta;
